body {
  font-family: 'ITC Avant Garde Gothic Std', sans-serif;
  color: #000;
}

.balance {
  font-size: 14px;
  margin: 0 10px 0 0 !important;
}

.pdfBio img {
  width: 80%;
  margin: 20px auto;
  display: block;
}
.pdfPrev img {
  width: 40%;
  margin: 20px auto;
  display: block;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.voting-btn {
  width: 100%;
}

.create-h4 {
  margin: 0 0 10px;
}

.proposal-input {
  width: 80%;
  margin: 0 0 20px;
  line-height: 30px;
  font-size: 16px;
  border: 2px solid;
}

.centeredContainer {
  margin: 0 auto !important;
}

.centeredContainer h1 {}

.centeredContainer p {
  font-family: 'Roboto';
}

.centeredContainer .paper {
  margin: 20px 0 0;
  padding: 20px;
  width: 100%;
}

.centeredContainer .paper h1 {
  margin: 0 0 20px;
}

.centeredContainer .paper .chip {
  float: right;
  text-transform: capitalize;
}

.centeredContainer .paper .accepted {
  background: #61ca5c;
  color: #fff;
}
.centeredContainer .paper .tied {
  background: #f0f226;
}
.centeredContainer .paper .declined {
  color: #fff;
  background: #b1362d;
}

.budget img {
  width: 100%;
}

.budget strong {
  font-size: 25px;
}

.budget-flex {
  display: flex;
  align-items: center;
}

.proposalInfo {
  float: right;
}

.fr {
  float: right;
}

.btn {
  color: #fff !important;
  background-color: #ff4b3e !important;
}

.toolBar {
  background: #fff;
  padding: 0 !important;
  justify-content: space-between;
}

.logo {
  height: 64px;
  width: 180px;
  background: #ff4b3e;
  color: #fff;
  text-decoration: none;
  display: block;
  position: relative;
  overflow: hidden;
  padding: 0 0 0 20px;
}

.logo:after {
  height: 120px;
  width: 120px;
  background: #fff;
  content: "";
  position: absolute;
  top: 51px;
  right: -73px;
  transform: rotate(30deg);
  transform-origin: right;
}

.logo h2 {
  line-height: 74px;
  font-family: 'ITC Avant Garde Gothic Std', sans-serif;
  font-size: 33px;
  /* text-align: center; */
}

.tagline {
  font-family: 'ITC Avant Garde Gothic Std', sans-serif !important;
  padding: 0 20px 0 0;
  font-size: 18px !important;
  font-style: italic;
  width: calc(100% - 120px - 48px) !important;
}

.straas-loader {
  color: #ff0000 !important;
  margin: 0 auto;
  display: block !important;
}

.home-list-item {
  padding: 10px;
  margin: 0 0 10px;
  line-height: 32px;
}
.home-status {
  float: right;
  font-size: 11px;
  color: #000;
}
.home-list-item .accepted {
  background: #61ca5c;
  color: #fff;
}
.home-list-item .tied {
  background: #f0f226;
}
.home-list-item .declined {
  color: #fff;
  background: #b1362d;
}

/* .btn span:first {
  background: #ff4b3e;
} */