body {
  font-family: 'ITC Avant Garde Gothic Std', sans-serif;
}

.centeredContainer {
  margin: 0 auto !important;
}

.centeredContainer h1 {}

.centeredContainer p {
  font-family: 'Roboto';
}

.centeredContainer .paper {
  margin: 20px 0 0;
  padding: 20px;
  width: 100%;
}

.centeredContainer .paper h1 {
  margin: 0;
}

.centeredContainer .paper .chip {
  float: right;
}
.centeredContainer .paper .open {
  background: #61ca5c;
}
.centeredContainer .paper .closed {
  background: #ff4b3e;
}

.proposalInfo {
  float: right;
}

.toolBar {
  background: #fff;
  padding: 0 !important;
  justify-content: space-between;
}

.logo {
  height: 64px;
  width: 160px;
  background: #ff4b3e;
  color: #fff;
  text-decoration: none;
  display: block;
  position: relative;
  overflow: hidden;
  padding: 0 0 0 20px;
}

.logo:after {
  height: 120px;
  width: 120px;
  background: #fff;
  content: "";
  position: absolute;
  top: 51px;
  right: -73px;
  transform: rotate(30deg);
  transform-origin: right;
}

.logo h2 {
  line-height: 74px;
  font-family: 'ITC Avant Garde Gothic Std', sans-serif;
  font-size: 33px;
  /* text-align: center; */
}

.tagline {
  font-family: 'ITC Avant Garde Gothic Std', sans-serif !important;
  padding: 0 20px 0 0;
  font-size: 18px !important;
  font-style: italic;
  width: calc(100% - 120px - 48px) !important;
}

.straas-loader {
  color: #ff0000 !important;
  margin: 0 auto;
  display: block !important;
}

/* .btn span:first {
  background: #ff4b3e;
} */